@tailwind base;
@tailwind components;
@tailwind utilities;

/* Handle the overscroll background colors */
html {
  overscroll-behavior: none;
}

html.dark-mode, html.dark-mode body {
  background-color: #18181b; /* zinc-900 for dark mode */
}

html.light-mode, html.light-mode body {
  background-color: #ffffff; /* white for light mode */
}

@layer base {
  html, body, #root {
    @apply min-h-screen w-full m-0 p-0;
    touch-action: manipulation;
  }

  #root {
    @apply flex flex-col;
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
}